.element-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

.element-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    max-width: 25vw;
    min-width: 200px
}

.element-item img{
    width: 8vw;
    object-fit: contain;
    margin-bottom: 10px;
}

.element-item p{
    font-size: clamp(.8rem, 1.5vw, 2rem);
    text-align: center;
    color: var(--secondary-color);
}


@media (max-width: 768px) {
    .element-container{
        grid-template-columns: 1fr;
    }
}
