.hub-page-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 90vh;
    width: 100%;

}

.hub-navegation-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

}

.hub-content-display{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;

}

.hub-navegator-display{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;

}