nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 10px 2.5vw;
    box-sizing: border-box;
    background-color: var(--background-color);
}

nav img{
    object-fit: contain;
    width: 4vw;
    min-width: 50px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;

    font-family: var(--font-family);
    font-size: clamp(.8rem, 1vw, 1.5rem);
    list-style: none;
    color: var(--secondary-color);
}

nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}

nav ul li a b{
    color: var(--accent-color);
}