:root{
    --main-color: #101010;
    --secondary-color: #FFFFFF;
    --background-color: #1C1C1E;
    --accent-color: #42FF1C;
    --font-family: 'Major Mono Display', monospace, sans-serif;
}

html {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-color);
    background-size: cover;   
    color: var(--secondary-color);
    font-family: var(--font-family);
}

